.container{
    background-image: url("./images/dark pink background reverse.png");
    background-color: #232323;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 100vh;
    position: relative;
}

.benefitOne::before, .benefitTwo::before, .benefitThree::before{
    content: "";
    display: list-item;
    position: absolute;
}

.benefitOne, .benefitTwo, .benefitThree{
    position: absolute;
    color: white;
    font-family: 'Combo', cursive;
    font-size: 2.3rem;
}

.benefitOne{
    position: absolute;
    top: 20%;
    right: 10%;
}

.benefitTwo{
    position: absolute;
    top: 40%;
    right: 12%;
}

.benefitThree{
    position: absolute;
    top: 60%;
    right: 17%;
}

.benefitTitle, .benefitDesc{
    color: white;
    font-family: 'Combo', cursive;
}

.benefitTitle{
    font-size: 3.0rem;
    text-decoration: underline;
}

.benefitDesc{
    font-size: 2.3rem;
}