.introOne, .introTwo{
    background-color: #232323;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 100vh;

}

.introOne{
    position: relative;
    z-index: 1;
    background-image: url("./images/dark pink background.png");
}

.introTwo{
    background-image: url("./images/dark pink background reverse.png");
}

.creditCard{
    object-fit: contain;
    width: 400px;
    position: absolute;
    z-index: 2;
    top: 230px;
    left: 40%;
    border-radius: 20px;
}

.titleOne, .titleTwo, .titleThree{
    color: white;
    font-family: 'Combo', cursive;
    font-size: 2.3rem;
}

.titleOne{
    position: absolute;
    top: 400px;
    left: 50px;
}

.titleTwo{
    position: absolute;
    width: 300px;
    top: 400px;
    right: 50px;
}

.titleThree{
    position: absolute;
    top: 100px;
    left: 40%;
}