.mainContainer{
    height: auto;
    position: relative;
}

/* 
    the problem is that credit card is still part 
    of the normal flow when you use position: sticky
    so all the content gets pushed down to make space
    for the credit card
*/
.creditCard{
    object-fit: contain;
    width: 400px;
    position: fixed;
    z-index: 2;
    top: 230px;
    left: 40%;
    border-radius: 20px;
}
