.mainContainer{
    background-image: url("./images/dark pink background long.png");
    background-color: #232323;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 320vh;

}

.creditCard{
    object-fit: contain;
    width: 400px;
    position: sticky;
    z-index: 1;
    top: 230px;
    left: 40%;
    border-radius: 20px;
}