.mainContainer{
    height: auto;

}

.creditCard{
    object-fit: contain;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 230px;
    left: 40%;
    border-radius: 20px;
}


.container{
    background-image: url("./dark\ pink\ background\ pink\ colors\ inverted.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-color: #ff4242;
    height: 90vh;
}