.container{
    background-color: purple;
    padding: 2.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250vh;
    padding-bottom: 400px;
}

.travelContainer, .graceContainer{
    position: relative;
    align-self: flex-start;
}

.cashBackContainer{
    position: relative;
    align-self: flex-end;
}

.image{
    object-fit: contain;
    width: 500px;
    border-radius: 20px;
}

.whiteBoxOne, .whiteBoxTwo, .whiteBoxThree{
    width: 300px;
    background-color: white;
    position: absolute;
    padding: 1.2rem;
    border-radius: 20px;
    top: 50%;

}

.whiteBoxOne, .whiteBoxThree{
    right: -60%;
}

.whiteBoxTwo{
    left: -60%;
}

.title, .desc {
    font-family: 'Combo', cursive;
}

.title{
    font-size: 2.3rem;
}

.desc{
    font-size: 1.5rem;
}

@media(max-width: 865px) {

    .travelContainer {
        align-self: center;
    }
    .whiteBoxOne{
        top: initial;
        right: 10px;
        bottom: -130px;
    }

    .graceContainer {
        align-self: center;
    }
    .whiteBoxTwo {
        top: initial;
        left: 30px;
        bottom: -130px;
    }

    .cashBackContainer{
        align-self: center;
    }

    .whiteBoxThree{
        top: initial;
        right: 10px;
        bottom: -150px;
    }
}

@media (max-width: 530px){
    .image{
        width: 330px;
    }

    .whiteBoxOne, .whiteBoxThree{
        width: 200px;
        bottom: -200px;
    }

    .whiteBoxTwo{
        width: 200px;
        bottom: -100px;
    }

    .title{
        font-size: 1.9rem;
    }
    .desc{
        font-size: 1.2rem;
    }
}

