.container{
    width: 100%;
    height: 500px;
    position: absolute;
    top: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.title{
    color: white;
    font-family: 'Combo', cursive;
    font-size: 4.3rem;
    font-weight: 900;
    text-decoration: underline;
}

@keyframes hoveringAnimation {
    from {transform: translateY(-10px)}
    to {transform: translateY(10px)}
}

.animation{
    animation-name: hoveringAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;   
}

.scrollDown{
    color: white;
    font-family: 'Combo', cursive;
    font-size: 2.3rem;
}

@media(max-width: 760px) {
    .title{
        font-size: 2.5rem;
    }
}

