.container{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-color: #232323;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creditCard{
    object-fit: contain;
    width: 300px;
    border-radius: 10px;
}