.container{
    background-color: #9e007c;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    display: grid;
    align-content: space-evenly;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    height: 100vh;
}

.title, .desc{
    font-family: 'Combo', cursive;
}

.title{
    color: white;
    font-size: 3.5rem;
    font-weight: 900;
    grid-column: 1/4;
    text-align: center;
    padding: 2.2rem;
    margin-bottom: 2.2rem;
}

.desc{
    width: 160px;
    color: black;
    font-size: 1.2rem;
}

.whiteBoxes{
    padding: 1.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    height: 400px;
    background-color: white;
    border-radius: 30px;
    margin: auto;
}

.boxTitle{
    font-family: 'Combo', cursive;
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 10px;
}

.image{
    object-fit: contain;
    width: 100%;
}
