.container{
    background-color: #9e007c;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    display: grid;
    align-content: space-evenly;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    height: 950px;
}

.title, .desc{
    font-family: 'Combo', cursive;
}

.title{
    color: white;
    font-size: 3.5rem;
    font-weight: 900;
    grid-column: 1/4;
    text-align: center;
    padding: 2.2rem;
    margin-bottom: 2.2rem;
}

.desc{
    width: 160px;
    color: black;
    font-size: 1.2rem;
}

.whiteBoxes{
    transform: translateY(-100px);
    opacity: 0;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    height: 400px;
    background-color: white;
    border-radius: 30px;
    margin: auto;
}

.boxTitle{
    font-family: 'Combo', cursive;
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 10px;
}

.image{
    object-fit: contain;
    width: 100%;
}




@media (max-width: 1215px) {
    .container{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        height: 1200px;
    }
    .title {
        grid-column: 1/2;
    }
}

@media (max-width: 540px ) {
    .container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        height: auto;
    }

    .title{
        grid-column: 1/1;
    }
    .whiteBoxes{
        margin: 1.2rem auto 1.2rem auto;
    }
}
